[submodule "jobly-frontend"]
	path = jobly-frontend
	url = https://github.com/husekivrak/jobly-frontend.git
[submodule "jobly-backend"]
	path = jobly-backend
	url = https://github.com/husekivrak/jobly-backend.git
